---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { getGalleryImages, type GalleryImage } from "../../lib/gallery";

export async function getStaticPaths() {
  const images = await getGalleryImages();
  return images.map((image) => ({
    params: { img: image.id }, 
    props: { image }
  }));
}

const { image } = Astro.props as { image: GalleryImage };
const { default: imageSrc } = await image.module();
---

<Layout title={`Photo from ${image.date.toDateString()}`}>
  <div class="flex flex-col gap-4 items-start">
    <a href="/gallery" class="text-gray-2 self-start">← Back to gallery</a>
    <Image
      src={imageSrc}
      class="max-h-[85vh] max-w-full rounded-lg"
      alt={`Full size photo from ${image.date.toDateString()}`}
    />
    <div class="flex gap-2">
        {image.tags.map(tag => (
            <a href={`/gallery/tag/${tag}`} class="bg-gray-1 hover:bg-gray-2 hover:text-gray-0 py-1 px-3 rounded-md no-underline">
                <span class="text-sm font-medium capitalize">{tag}</span>
            </a>
        ))}
    </div>
  </div>
</Layout>