---
import MoodBadge from "./MoodBadge.astro";
export interface Props {
    title: string;
    date: string;
    summary: string;
    minutesRead: string;
    url: string;
    truncate?: boolean;
    mood?: number;
}

const { title, date, summary, minutesRead, url, truncate, mood } = Astro.props;
---

<a
    href={url}
    class="flex flex-col no-underline py-4 px-5 w-full border-2 border-gray-1 hover:border-gray-2 hover:bg-gray-1 rounded-xl"
>
    <h3
        style={truncate
            ? "overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
            : ""}
    >
        {title}
    </h3>
    <p
        class="text-neutral-300"
        style={truncate
            ? "overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
            : ""}
    >
        <em>{summary}</em>
    </p>
    <div class="flex gap-2 items-center">
        <p class="text-neutral-500">
            {new Date(date).toDateString().slice(4)} - {minutesRead}
        </p>
        {mood && <MoodBadge mood={mood} />}
    </div>
</a>
